<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Login</legend>
    </div>
    <div class="control-group">
      <!-- Email -->
      <label class="control-label"  for="email">Email</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="Email" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success" routerLink="/signup">Signup</button>
      </div>
      <div class="controls">
        <a class="btn btn-info" routerLink="/signup">Signup</a>
      </div>
      <div *ngIf="response">
        <p class="jasmine-errored">{{response}}</p>
      </div>
    </div>
  </fieldset>
</form>
