<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Login</legend>
    </div>
    <div class="control-group">
      <!-- Email -->
      <label class="control-label"  for="title">Email</label>
      <div class="controls">
        <input type="text" id="title" name="title" placeholder="Email" class="input-xlarge">
      </div>
      <div class="controls">
      <input type="text" id="des" name="des" placeholder="des" class="input-xlarge">
    </div>
      <div class="controls">
        <input type="text" id="date" name="date" placeholder="date" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success" (click)="update()">Update</button>
      </div>
      <div *ngIf="response">
        <p class="jasmine-errored">{{response}}</p>
      </div>
    </div>
  </fieldset>
</form>
